body {
    font-family: "roboto";
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(147, 147, 147);
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .blue {
    color: blue;
  }
  
  .black {
    color: black;
  }
  
  .nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    transition: color 250ms ease-in-out;
  }

  .nav a:hover {
    color: #2196F3;
  }
  
  .contact-info a {
    margin-left: 15px;
    text-decoration: none;
    position: relative;
    color: rgb(149, 149, 149);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .contact-info a:hover {
    color: black;
    transition: color 250ms ease-in-out;
}

.buttons {
    display: flex;            
    justify-content: center; 
    align-items: center;
    padding-top: 40px;
    gap: 20px;
    border-style: none;
    color: #2196F3;
}

.buttons_in_div {
    border-style: none;
    background-color: #F5F4FA;
    color: black;
    width: 80px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
}

.buttons_in_div:hover {
    background-color: #2196F3;
    color: white;
    transition: color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
}

/*Boxes*/

.boxes {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  
}

.box1 {
  padding-left: 20px;
  width: 370px;
  height: 404px;
  border-style: solid 20px black;
}

.imgbox1 {
  height: 294px;
  width: 370px;
}

/* boxes 2 */

.boxes2 {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.box_one {
  padding-left: 20px;
  width: 370px;
  height: 404px;
  border-style: solid 20px black;
}

/* boxes3 */

.boxes3 {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.boxe_1 {
  padding-left: 20px;
  width: 370px;
  height: 404px;
  border-style: solid 20px black;
}

/* footer */

.footer {
  background-color: #2F303A;
}

.logo2 {
  padding-left: 50px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
}